<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Balahnin_autoservisEntities" connectionString="metadata=res://*/BalahninModel.csdl|res://*/BalahninModel.ssdl|res://*/BalahninModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NENXTXTIW;initial catalog=Balahnin_autoservis;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>