<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Balahnin_avtoservisEntities" connectionString="metadata=res://*/BalahninModel.csdl|res://*/BalahninModel.ssdl|res://*/BalahninModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-11\SQLEXPRESS;initial catalog=Balahnin_avtoservis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>