<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="Balahnin_avtoservisEntities" connectionString="metadata=res://*/BalahninModel1.csdl|res://*/BalahninModel1.ssdl|res://*/BalahninModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STUD231-11\SQLEXPRESS;initial catalog=Balahnin_avtoservis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>